#### Assignment 4


#### Name: Mahesh Sercat Ramakumar



#### Question 1:

Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

Input Format:
The first line of the input contains an email address.

Output Format:

Print the company name in single line.
Example;

Input:

john@google.com

Output:

google

In [3]:
str1 = input("Enter the string:")

str1.split("@")[1].split(".")[0]

Enter the string:harshitaguddda@apple.com

'apple'

#### Question 2:

Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

Input Format:
The first line of input contains words separated by the comma.

Output Format:
Print the sorted words separated by the comma.

Example:
Input:
without,hello,bag,world

Output:
bag,hello,without,worl

In [7]:
str1 = input("Enter the words: ")
print(",".join(sorted(str1.split(","))))

Enter the words: also,it,so,as
also,as,it,so

#### Question 3:

Create your own Jupyter Notebook for Sets.

Reference link: https://www.w3schools.com/python/python_sets.asp

In [8]:
veggies = {"tomato", "onion", "chilly"}
veggies

{'chilly', 'onion', 'tomato'}

In [9]:
for x in veggies:
  print(x)

tomato
chilly
onion

In [10]:
print("peas" in veggies)

False

In [11]:
veggies.add("peas")
veggies

{'chilly', 'onion', 'peas', 'tomato'}

In [12]:
veggies.update(["cabbage","broccoli","cauliflower"])
print(len(veggies))
veggies

7

{'broccoli', 'cabbage', 'cauliflower', 'chilly', 'onion', 'peas', 'tomato'}

In [13]:
veggies.remove("cabbage")
veggies

{'broccoli', 'cauliflower', 'chilly', 'onion', 'peas', 'tomato'}

In [14]:
veggies.discard("broccoli")
veggies

{'cauliflower', 'chilly', 'onion', 'peas', 'tomato'}

In [15]:
#If the item to remove does not exist, discard() will NOT raise an error.
veggies.discard("broccoli")

In [16]:
#Sets are unordered, so when using the pop() method, you will not know which item that gets removed.
veggies.pop()

'chilly'

In [17]:
veggies

{'cauliflower', 'onion', 'peas', 'tomato'}

In [18]:
veggies.clear()
veggies

set()

In [19]:
del veggies
veggies

NameError: name 'veggies' is not defined

In [20]:
set1 = {4, 5 , 6}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6}

In [21]:
set1 = {4, 5 , 6}
set2 = {1, 2, 7}

set1.update(set2)
print(set1)

{1, 2, 4, 5, 6, 7}

In [22]:
fruits = set(("apple", "banana", "cherry")) 
print(fruits)

{'apple', 'cherry', 'banana'}

In [23]:
x= {4, 5 , 6}
y= {1, 2, 7}

z = x.difference(y)

print(z)

{4, 5, 6}

In [24]:
x = {"a", "b", "c"}
y = { "b", "a"}

z = x.issubset(y)

print(z)

False

In [25]:
x = {"a", "b", "c"}
y = {"d"}

z = x.isdisjoint(y)

print(z)

True

In [26]:
x = {"apple", "banana", "blueberry"}
y = {"blueberry", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple', 'blueberry'}

In [27]:
x = {"apple", "banana", "blueberry"}
y = {"blueberry", "microsoft", "apple"}
x.intersection_update(y)
x

{'apple', 'blueberry'}

In [ ]:
x = {"apple", "banana", "blueberry"}
y = {"blueberry", "microsoft", "apple"}
y.intersection_update(x)
y

#### Question 4:

Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

Input Format:
The first line contains n-1 numbers with each number separated by a space.

Output Format:
Print the missing number

Example:
Input:1 2 4 6 3 7 8
Output:5

Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [29]:
numList = list(int(num) for num in input("Enter the list numbers separated by space ").strip().split())
print("User List: ", numList)

set(range(1, len(numList) + 2)).difference(numList)

Enter the list numbers separated by space 1 2 4 5 6
User List:  [1, 2, 4, 5, 6]

{3}

#### Question 5:

With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:

If the input list is
12 24 35 24 88 120 155 88 120 155

Then the output should be
12 24 35 88 120 155

Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present.

Input Format:
In one line take the elements of the list L with each element separated by a space.

Output Format:
Print the elements of the modified list in one line with each element separated by a space.

Example:
Input: 12 24 35 24
Output:
12 24 35

In [37]:
numList = list(int(num) for num in input("Enter the list numbers separated by space ").strip().split())
unique = []
for item in numList:
    if str(item) not in unique:
        unique.append(str(item))

print(" ".join(unique))

Enter the list numbers separated by space 12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155